@font-face {
  font-family: 'native';
  src:  url('fonts/native.eot?9qce1i');
  src:  url('fonts/native.eot?9qce1i#iefix') format('embedded-opentype'),
    url('fonts/native.ttf?9qce1i') format('truetype'),
    url('fonts/native.woff?9qce1i') format('woff'),
    url('fonts/native.svg?9qce1i#native') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="nat-"], [class*=" nat-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'native' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nat-home5:before {
  content: "\e904";
}
.nat-city:before {
  content: "\e90a";
}
.nat-newspaper:before {
  content: "\e90b";
}
.nat-magazine:before {
  content: "\e90c";
}
.nat-design:before {
  content: "\e90d";
}
.nat-quill:before {
  content: "\e918";
}
.nat-pen2:before {
  content: "\e91f";
}
.nat-palette:before {
  content: "\e92a";
}
.nat-bucket:before {
  content: "\e92e";
}
.nat-bucket2:before {
  content: "\e92f";
}
.nat-paint-format:before {
  content: "\e938";
}
.nat-stamp:before {
  content: "\e939";
}
.nat-image3:before {
  content: "\e93f";
}
.nat-images3:before {
  content: "\e940";
}
.nat-camera:before {
  content: "\e944";
}
.nat-headphones:before {
  content: "\e948";
}
.nat-headset:before {
  content: "\e949";
}
.nat-guitar:before {
  content: "\e954";
}
.nat-trumpet:before {
  content: "\e955";
}
.nat-speakers:before {
  content: "\e956";
}
.nat-presentation:before {
  content: "\e95c";
}
.nat-movie:before {
  content: "\e95d";
}
.nat-chess-king:before {
  content: "\e972";
}
.nat-megaphone:before {
  content: "\e97a";
}
.nat-bookmark:before {
  content: "\e994";
}
.nat-reading:before {
  content: "\e997";
}
.nat-library:before {
  content: "\e998";
}
.nat-graduation:before {
  content: "\e99a";
}
.nat-file-text:before {
  content: "\e99b";
}
.nat-profile:before {
  content: "\e99c";
}
.nat-stack:before {
  content: "\e9cd";
}
.nat-stack2:before {
  content: "\e9ce";
}
.nat-stack3:before {
  content: "\e9cf";
}
.nat-folder:before {
  content: "\e9d0";
}
.nat-certificate:before {
  content: "\e9eb";
}
.nat-price-tag:before {
  content: "\e9ed";
}
.nat-bag:before {
  content: "\ea07";
}
.nat-percent:before {
  content: "\ea09";
}
.nat-coins:before {
  content: "\ea0a";
}
.nat-piggy-bank:before {
  content: "\ea0f";
}
.nat-wallet:before {
  content: "\ea10";
}
.nat-cash3:before {
  content: "\ea13";
}
.nat-credit-card2:before {
  content: "\ea16";
}
.nat-lifebuoy:before {
  content: "\ea1b";
}
.nat-map:before {
  content: "\ea45";
}
.nat-direction:before {
  content: "\ea4a";
}
.nat-display:before {
  content: "\ea73";
}
.nat-mobile2:before {
  content: "\ea79";
}
.nat-tablet:before {
  content: "\ea7a";
}
.nat-box:before {
  content: "\ea84";
}
.nat-bubble-lines4:before {
  content: "\eadd";
}
.nat-bubbles9:before {
  content: "\eade";
}
.nat-users4:before {
  content: "\eb0c";
}
.nat-user-tie:before {
  content: "\eb0d";
}
.nat-collaboration:before {
  content: "\eb10";
}
.nat-tie:before {
  content: "\eb14";
}
.nat-cog2:before {
  content: "\eb61";
}
.nat-hammer-wrench:before {
  content: "\eb69";
}
.nat-magic-wand:before {
  content: "\eb6d";
}
.nat-magic-wand2:before {
  content: "\eb6e";
}
.nat-stars:before {
  content: "\eb9e";
}
.nat-medal-star:before {
  content: "\eb9f";
}
.nat-medal:before {
  content: "\eba0";
}
.nat-medal-first:before {
  content: "\eba2";
}
.nat-medal-second:before {
  content: "\eba3";
}
.nat-medal-third:before {
  content: "\eba4";
}
.nat-trophy2:before {
  content: "\eba7";
}
.nat-trophy3:before {
  content: "\eba8";
}
.nat-balloon:before {
  content: "\ebae";
}
.nat-cook:before {
  content: "\ebbd";
}
.nat-plate:before {
  content: "\ebbe";
}
.nat-rocket:before {
  content: "\ebdd";
}
.nat-meter-fast:before {
  content: "\ebe2";
}
.nat-magnet:before {
  content: "\ebed";
}
.nat-magnet2:before {
  content: "\ebee";
}
.nat-dumbbell:before {
  content: "\ebef";
}
.nat-briefcase:before {
  content: "\ec02";
}
.nat-brain:before {
  content: "\ec27";
}
.nat-accessibility:before {
  content: "\ec28";
}
.nat-strategy:before {
  content: "\ec2a";
}
.nat-shield-check:before {
  content: "\ec32";
}
.nat-power2:before {
  content: "\ec49";
}
.nat-switch:before {
  content: "\ec4b";
}
.nat-power-cord:before {
  content: "\ec4d";
}
.nat-lan:before {
  content: "\ec67";
}
.nat-lan2:before {
  content: "\ec68";
}
.nat-circle-small:before {
  content: "\ec6b";
}
.nat-cloud:before {
  content: "\ec75";
}
.nat-eye:before {
  content: "\ecae";
}
.nat-star-empty2:before {
  content: "\ece1";
}
.nat-star-full:before {
  content: "\ece2";
}
.nat-star-empty3:before {
  content: "\ece3";
}
.nat-thumbs-up2:before {
  content: "\ecf5";
}
.nat-thumbs-down2:before {
  content: "\ecf7";
}
.nat-thumbs-up3:before {
  content: "\ecf8";
}
.nat-thumbs-down3:before {
  content: "\ecf9";
}
.nat-cross:before {
  content: "\ed6c";
}
.nat-cross2:before {
  content: "\ed6d";
}
.nat-cross3:before {
  content: "\ed6e";
}
.nat-checkmark3:before {
  content: "\ed71";
}
.nat-checkmark4:before {
  content: "\ed72";
}
.nat-checkmark5:before {
  content: "\ed73";
}
.nat-wall:before {
  content: "\ed7c";
}
.nat-arrow-right:before {
  content: "\edbb";
}
.nat-arrow-right2:before {
  content: "\edbc";
}
.nat-arrow-right3:before {
  content: "\edbd";
}
.nat-arrow-down:before {
  content: "\edbf";
}
.nat-arrow-down2:before {
  content: "\edc0";
}
.nat-arrow-down3:before {
  content: "\edc1";
}
.nat-arrow-right5:before {
  content: "\edc8";
}
.nat-arrow-down5:before {
  content: "\edc9";
}
.nat-arrow-up7:before {
  content: "\edd4";
}
.nat-arrow-right7:before {
  content: "\edd6";
}
.nat-arrow-down7:before {
  content: "\edd8";
}
.nat-arrow-left7:before {
  content: "\edda";
}
.nat-arrow-up8:before {
  content: "\eddc";
}
.nat-arrow-right8:before {
  content: "\edde";
}
.nat-arrow-down8:before {
  content: "\ede0";
}
.nat-arrow-left8:before {
  content: "\ede2";
}
.nat-circle-up:before {
  content: "\ede3";
}
.nat-circle-right:before {
  content: "\ede4";
}
.nat-circle-down:before {
  content: "\ede5";
}
.nat-circle-left:before {
  content: "\ede6";
}
.nat-circle-up2:before {
  content: "\ede7";
}
.nat-circle-right2:before {
  content: "\ede8";
}
.nat-circle-down2:before {
  content: "\ede9";
}
.nat-circle-left2:before {
  content: "\edea";
}
.nat-circle-up3:before {
  content: "\edec";
}
.nat-circle-right3:before {
  content: "\edee";
}
.nat-circle-down3:before {
  content: "\edf0";
}
.nat-circle-left3:before {
  content: "\edf2";
}
.nat-circle-up4:before {
  content: "\edf4";
}
.nat-circle-right4:before {
  content: "\edf6";
}
.nat-circle-down4:before {
  content: "\edf8";
}
.nat-circle-left4:before {
  content: "\edfa";
}
.nat-square-down-right:before {
  content: "\ee07";
}
.nat-arrow-up9:before {
  content: "\ee0b";
}
.nat-arrow-right9:before {
  content: "\ee0c";
}
.nat-arrow-down9:before {
  content: "\ee0d";
}
.nat-arrow-up11:before {
  content: "\ee14";
}
.nat-arrow-down-right4:before {
  content: "\ee17";
}
.nat-arrow-down11:before {
  content: "\ee18";
}
.nat-arrow-up12:before {
  content: "\ee1c";
}
.nat-arrow-right12:before {
  content: "\ee1e";
}
.nat-arrow-down-right5:before {
  content: "\ee1f";
}
.nat-arrow-down12:before {
  content: "\ee20";
}
.nat-arrow-left12:before {
  content: "\ee22";
}
.nat-arrow-up14:before {
  content: "\ee27";
}
.nat-arrow-right14:before {
  content: "\ee28";
}
.nat-arrow-down14:before {
  content: "\ee29";
}
.nat-arrow-left14:before {
  content: "\ee2a";
}
.nat-arrow-up15:before {
  content: "\ee33";
}
.nat-arrow-right15:before {
  content: "\ee34";
}
.nat-arrow-down15:before {
  content: "\ee35";
}
.nat-arrow-left15:before {
  content: "\ee36";
}
.nat-arrow-up16:before {
  content: "\ee37";
}
.nat-arrow-right16:before {
  content: "\ee38";
}
.nat-arrow-down16:before {
  content: "\ee39";
}
.nat-arrow-left16:before {
  content: "\ee3a";
}
.nat-menu-open2:before {
  content: "\ee3c";
}
.nat-diamond3:before {
  content: "\ee6c";
}
.nat-diamond4:before {
  content: "\ee6d";
}
.nat-checkbox-partial2:before {
  content: "\ee70";
}
.nat-radio-checked:before {
  content: "\ee71";
}
.nat-circles:before {
  content: "\ee79";
}
.nat-circles2:before {
  content: "\ee7a";
}
.nat-table:before {
  content: "\eeae";
}
.nat-table2:before {
  content: "\eeaf";
}
.nat-insert-template:before {
  content: "\eeb0";
}

